#page-container {
  width: 100%;
  height: 100vh;
  display: block;
  margin: 0;
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  font-family: "Helvetica Neue";
}

#header {
  height: 4%;
  color: black;
  margin: 0;
  text-align: center;
}

#message-container {
  height: 95%;
  display: flex;
  flex-direction: row;
}

#message-conversations {
  flex: 1;
  flex-direction: column;
  overflow-x: hidden;
  border: 1px solid rgba(123, 123, 123, 0.2);
}

.conversations {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(123, 123, 123, 0.2);
  border-left-style: none;
  border-right-style: none;
  height: 7%;
  padding: 3%;
  padding-left: 6%;
  text-align: left;
  justify-content: flex-start;
  overflow: hidden;
}

.conversation-preview {
  margin: 0;
}

#conversation-container {
  flex: 3;
  flex-direction: column;
  border-width: 1;
  border-color: black;
}

#message-sender {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 5%;
  padding-left: 5%;
  background-color: rgba(123, 123, 123, 0.2);
}

.conversation-sender {
  margin: 0;
}

#messages {
  display: flex;
  flex-direction: column;
  height: 90%;
  background-color: rgba(212, 196, 196, 0.185);
  overflow-y: scroll;
  padding-bottom: 20px;
}

.bubble {
  display: flex;
  flex-wrap: wrap;
  word-wrap: break-word;
  height: auto;
  width: 40%;
}

.me {
  align-self: flex-end;
  margin: 10px 20px 0px 0px;
  border-radius: 30px;
  background-color: rgb(17, 95, 184);
}

.them {
  align-self: flex-start;
  margin: 10px 0px 0px 20px;
  border-radius: 30px;
  background-color: rgb(218, 218, 218);
}

.message-text {
  color: black;
  padding: 5px 10px;
  white-space: pre-line;
  line-height: 20px;
}

#input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 6%;
  background-color: rgba(123, 123, 123, 0.2);
}

#input-field-decoraiton {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  border-radius: 30px;
  width: 90%;
  height: 80%;
  border: 1.5px solid black;
  background-color: white;
}

form {
  width: 95%;
  margin: auto;
}

#input-field {
  font-size: 20px;
  line-height: 100%;
  height: 90%;
  width: 100%;
  border-style: none;
  margin: auto;
  overflow: scroll;
}

input:focus {
  /* outline: ; */
}
